.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
 
}

.cardWrapper {
    margin-top: 18px;
    display: flex;
}

.wrapper{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.toggletext {
    cursor: pointer;
    color: var(--color-primary);
}